<form
    hx-post="/comentarios/create"
    hx-target="#comentario-form-errors-{{ actividad_id }}"
    hx-swap="innerHTML">
    <div>
        <label>Nombre</label>
        <input
            name="nombre"
            type="text"
            required
            minlength="3"
            maxlength="80" />
    </div>
    <div>
        <label>Texto</label>
        <textarea
            name="texto"
            rows="4"
            cols="50"
            required
            minlength="5"
            maxlength="300"></textarea>
    </div>
    <input type="hidden" name="actividad_id" value="{{ actividad_id }}">
    <button type="submit">Agregar comentario</button>
</form>
<div id="comentario-form-errors-{{ actividad_id }}"></div>