<form
    hx-post="/comentarios/create"
    hx-target="#comentario-form-errors-{{ actividad_id }}"
    hx-swap="innerHTML">
    <div>
        <label for="nombre">Nombre</label>
        <input id="nombre" name="nombre" type="text" maxlength="80" required />
    </div>

    <div>
        <label for="texto">Texto</label>
        <textarea id="texto" name="texto" maxlength="300" required></textarea>
    </div>
    <!-- Cargado desde jinja:-->
    <input type="hidden" name="actividad_id" value="{{ actividad_id }}">
    <button type="submit">Enviar</button>
</form>
<!--aqui van errores-->
<div id="comentario-form-errors-{{ actividad_id }}"></div>