{% extends "base.html" %}
{% block content %}


<h1>Registro de actividad</h1>
<p>Por favor llenar el formulario a continuación con la información de la actividad:</p>




<form method="POST"
      action="{{ url_for('registrar_actividad') }}"
      enctype="multipart/form-data"
      id="form-actividad">
    {# miembros #}
    <div>
        <label for="miembro_id">Miembro:</label>
        <select name="miembro_id" id="miembro_id" required>
            <option value="">Seleccione</option>
            {% for m in miembros %}
                <option value="{{ m.id }}">{{ m.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="dia">Día:</label>
        <select name="dia" id="dia" required>
            <option value="">Seleccione</option>
            <option value="lunes">Lunes</option>
            <option value="martes">Martes</option>
            <option value="miércoles">Miércoles</option>
            <option value="jueves">Jueves</option>
            <option value="viernes">Viernes</option>
            <option value="sábado">Sábado</option>
            <option value="domingo">Domingo</option>
        </select>
    </div>
    <div>
        <label for="hora_inicio">Hora inicio (HH:MM):</label>
        <input type="time" name="hora_inicio" id="hora_inicio" required>
    </div>
    <div>
        <label for="duracion">Duración (HH:MM):</label>
        <input type="time" name="duracion" id="duracion" required>
    </div>
    <div>
        <label for="tipo">Tipo:</label>
        <select name="tipo" id="tipo" required>
            <option value="">Seleccione</option>
            <option value="arte">Arte</option>
            <option value="deporte">Deporte</option>
            <option value="tecnología">Tecnología</option>
            <option value="social">Social</option>
            <option value="recreación">Recreación</option>
            <option value="otra">Otra</option>
        </select>
    </div>
    <div>
        <label for="nombre">Nombre actividad:</label>
        <input type="text"
               name="nombre"
               id="nombre"
               maxlength="45"
               required>
    </div>
    <div>
        <label for="descripcion">Descripción:</label><br>
        <textarea name="descripcion"
                  id="descripcion"
                  rows="5"
                  cols="50"
                  maxlength="500"></textarea>
    </div>
    <div>
        <label for="archivos">Fotos:</label>
        <input type="file"
               name="archivos"
               id="archivos"
               multiple
               accept="image/*">
    </div>
    <button type="submit">Registrar actividad</button>

</form>
<script src="{{ url_for('static', filename='js/errors.js') }}"></script>
<script src="{{ url_for('static', filename='js/validators.js') }}"></script>
<script>
    const form = document.getElementById("form-actividad");
    const archivos = document.getElementById("archivos");
    const miembroSelect = document.getElementById("miembro_id")
    const diaSelect = document.getElementById("dia")
    const horaInicioInput = document.getElementById("hora_inicio")
    const duracionInput = document.getElementById("duracion")
    const tipoSelect = document.getElementById("tipo")
    const nombreInput = document.getElementById("nombre")
    const descripcionInput = document.getElementById("descripcion")

    const errorDiv = document.getElementById("errors")

    form.addEventListener("submit", (event) => {
        cleanErrors(errorDiv)
        event.preventDefault();

        let validFiles = validateFiles(archivos.files) // filelist
        
        let validMiembro = miembroSelect.value.trim() !== "";        
        let validDia = diaSelect.value.trim() !== "";   
        let validTipo = tipoSelect.value.trim() !== "";

        let nombre = nombreInput.value.trim();
        let validNombre = nombre.length >= 3 && nombre.length<=45;

        let descripcion = descripcionInput.value.trim();
        let validDescripcion = descripcion.length <= 500;

        // Source - https://stackoverflow.com/a/76736381
        // Posted by Stairss
        // Retrieved 2026-05-12, License - CC BY-SA 4.0
        const HOURS_REGEX = /^(?:[01]\d|2[0-3]):[0-5]\d$/; // regex para 00:00 a 23:59
        let validInicio = HOURS_REGEX.test(horaInicioInput.value.trim())
         // por ahora no valido que inicio + duracion < 24 horas
        let validDuracion = HOURS_REGEX.test(duracionInput.value.trim()) && duracionInput.value.trim() != "00:00"


        let validForm =
            validFiles &&
            validMiembro &&
            validDia &&
            validTipo &&
            validNombre &&
            validDescripcion &&
            validInicio &&
            validDuracion;

        if(validForm){
            form.submit();
        }else{
            let head = "Errores en el formulario:"

            let values = [
                [validMiembro, "Debe seleccionar un miembro"],
                [validDia, "Debe seleccionar un día"],
                [validInicio, "Hora de inicio inválida, formato HH:MM"],
                [validDuracion, "Duración inválida HH:MM"],
                [validTipo, "Debe seleccionar un tipo"],
                [validNombre, "Nombre inválido (3 a 45 caracteres)"],
                [validDescripcion, "Descripción inválida (máximo 500 caracteres)"],
                [validFiles, "No se ha adjuntado un archivo, o hay archivos invalidos"]
            ];
            // filter out valid inputs
            console.log(values)
            let filtered_values = values.filter(val => val[0]==false).map(val=>val[1])

            displayErrors(head, filtered_values, errorDiv)
        }       
    });
</script>



{% endblock %}