<!DOCTYPE html>
<html lang="es">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>


<header>
    <h1>Indice</h1>
    <nav>
        <a href="{{url_for('registrar_miembro')}}">Registrar miembro</a>
        <a href="{{url_for('listado_miembros')}}">Ver miembros</a>
        <a href="{{url_for('registrar_actividad')}}">Registrar actividad</a>
        <a href="{{url_for('estadisticas')}}">Estadísticas</a>
    </nav>
</header>

<br>
<div id="errors" class="error-container"></div>
<hr>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="flash-message flash-{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}
{% endblock %}
</html> 