<!DOCTYPE html>
<html lang="es">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>


<header>
    <img
            class="icono-mostrar"
            src="{{ url_for('static', filename='img/logo.png') }}"
    >
    <h1>Indice Herramienta de Actividades UChile</h1>

    <nav>
        <a href="{{url_for('registrar_miembro')}}">Registrar miembro
          <img
            class="icono-mostrar"
            src="{{ url_for('static', filename='img/agregar.png') }}"
            >
        </a><br>
        <a href="{{url_for('listado_miembros')}}">Ver miembros
          <img
            class="icono-mostrar"
            src="{{ url_for('static', filename='img/listado.png') }}"
            >
        </a><br>
        <a href="{{url_for('registrar_actividad')}}">Registrar actividad
          <img
            class="icono-mostrar"
            src="{{ url_for('static', filename='img/registrar.png') }}"
            >
        </a><br>
        <a href="{{url_for('estadisticas')}}">Estadísticas
          <img
            class="icono-mostrar"
            src="{{ url_for('static', filename='img/graficos.png') }}"
            >
        </a><br>
    </nav>
</header>

<br>
<div id="errors" class="error-container"></div>
<hr>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="flash-message flash-{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}
{% endblock %}
</html> 
