{% extends "base.html" %}
{% block content %}

<!-- Javascript rellena este div dinamicamente-->

<h1>Registro de miembro</h1>
<p>Por favor llenar el formulario a continuación con la información del miembro:</p>

<form id="form-registro" action="{{url_for('registrar_miembro')}}" method="POST">
    <div class="form-row">
        <label for="nombre" class="form-label">Nombre:</label>
        <input id="nombre" name="nombre" type="text" placeholder="Cosme">
    </div>

    <div class="form-row">
        <label for="apellido" class="form-label">Apellido:</label>
        <input id="apellido" name="apellido" type="text" placeholder="Fulanito">
    </div>

    <div class="form-row">
        <label for="email" class="form-label">Email:</label>
        <input id="email" name="email" type="email" placeholder="micorreo@dcc.cl">
    </div>

    <div class="form-row">
        <label for="fono" class="form-label">Fono:</label>
        <input id="fono" name="fono" type="text" placeholder="+XX XXXX XXXX">
    </div>
    
    <div class="form-row">
        <label for="tipo" class="form-label">Tipo:</label>
        <select id="tipo" name="tipo">
            <option value="">Seleccione</option>
            <option value="estudiante_pre">Pre-grado</option>
            <option value="estudiante_post">Post-grado</option>
            <option value="funcionario">Funcionario</option>
            <option value="academico">Académico</option>
        </select>
    </div>

    <button type="submit">Registrar</button>
</form>

</div>


<script src="{{ url_for('static', filename='js/errors.js') }}"></script>
<script src="{{ url_for('static', filename='js/validators.js') }}"></script>
<script>
    const form = document.getElementById("form-registro");
    const nombre = document.getElementById("nombre");
    const apellido= document.getElementById("apellido");
    const email = document.getElementById("email");
    const tipo = document.getElementById("tipo");
    const fono = document.getElementById("fono");

    const errorDiv = document.getElementById("errors")

    form.addEventListener("submit", (event) => {
        cleanErrors(errorDiv)
        event.preventDefault();

        let validName = validateName(nombre.value, 3)
        let validApellido =validateName(apellido.value, 3)
        let validEmail = validateEmail(email.value)
        let validPhone = validatePhone(fono.value)
        let validType = tipo.value != ""
        
        if(validName && validApellido && validEmail && validPhone && validType){
            // registrar usuario
            alert("Miembro registrado correctamente")
            form.submit();
        }else{
            let head = "Errores en el formulario:"

            let values =[
                [validName, "Nombre inválido (mínimo 3 caracteres)"],
                [validApellido, "Apellido inválido (mínimo 3 caracteres)"],
                [validEmail, "Email inválido"],
                [validPhone, "Teléfono inválido (formato +XX XXXX XXXX) (entre 7 y 14 digitos)"],
                [validType, "Debe seleccionar el tipo de miembro"]]
            // filter out valid inputs
            console.log(values)
            let filtered_values = values.filter(val => val[0]==false).map(val=>val[1])

            displayErrors(head, filtered_values, errorDiv)
        }       

    });
</script>
{% endblock %}